fondo = #DCDDD8
section = #354B5E
a
	text-decoration none
	margin 0
body
	background-color fondo
	font-size 16px
	font-family 'Source Code Pro'
	margin 0
	padding 0
h1
h2
	text-align center
	margin 0
input
	vertical-align middle
section
	background-color section
	border-radius 10px
	margin 0 auto
	height 200px
	width 820px
select
	background #F3F3F3
	border 1px solid #C1C1C1
	border-radius 0
	color #585757
	font-size 1.3em
	font-size 13px
	height 30px
	margin-bottom 1.5em
	-webkit-appearance none
button
	background fondo
	border none
	box-shadow 0px 0px 20px #00ffff
	display block
	font-size 1.3em
	height 50%
	margin 0 auto
	transition 1s all ease
	width 30%
	&:hover
		box-shadow none
	&:active
		box-shadow inset 0px 0px 20px #152525

.fondo
	margin-top 1em
.horario
	text-align center
	margin-top 3em
.tweet
	text-align center
