fondo = #DCDDD8
section = #354B5E
a
	text-decoration none
body
	background-color fondo
	font-size 16px
	font-family 'Source Code Pro'
	margin 0
	padding 0
h1
	text-align center
input
	vertical-align middle
input[type=checkbox]
	width 100px
	height 120px
section
	background-color section
	border-radius 10px
	margin 0 auto
	width 820px
button
	background fondo
	border none
	box-shadow 0px 0px 20px #00ffff
	display block
	font-size 1em
	height 30%
	margin 0 auto
	transition 1s all ease
	width 30%
	&:hover
		box-shadow none
.cursos
	div
		width 820px
		height 131px
	.status
		color #FF5959
	.info
		display inline-block
		p
			font-size 2em
			margin-left 4em
	.imagen
		display inline-block
.fondo
	margin-top 1em
.tuit
	background #55ACEE
.diseño
	background url('../images/DiseñoWeb.jpg')
	background-size 300px 131px
	background-repeat no-repeat
	background-position right center
.frontend
	background url('../images/frontend.jpg')
	background-size 300px 131px
	background-repeat no-repeat
	background-position right center
.backend
	background url("../images/backend.jpg")
	background-size 300px 131px
	background-repeat no-repeat
	background-position right center
.laravel
	background url("../images/laravel.jpg")
	background-position right center
	background-repeat no-repeat
	background-size 300px 131px
.marketing
	background url('../images/marketing.jpg')
	background-size 300px 131px
	background-repeat no-repeat
	background-position right center
.ios
	background url('../images/ios.png')
	background-size 300px 131px
	background-repeat no-repeat
	background-position right center
.android
	background url('../images/android.png')
	background-size 300px 131px
	background-repeat no-repeat
	background-position right center
.ux
	background url('../images/user.png')
	background-size 300px 131px
	background-repeat no-repeat
	background-position right center