a{text-decoration:none;margin:0}
body{background-color:#dcddd8;font-size:16px;font-family:'Source Code Pro';margin:0;padding:0}
h1,h2{text-align:center;margin:0}
input{vertical-align:middle}
section{background-color:#354b5e;border-radius:10px;margin:0 auto;height:200px;width:820px}
select{background:#f3f3f3;border:1px solid #c1c1c1;border-radius:0;color:#585757;font-size:1.3em;font-size:13px;height:30px;margin-bottom:1.5em;-webkit-appearance:none}
button{background:#dcddd8;border:none;box-shadow:0 0 20px #0ff;display:block;font-size:1.3em;height:50%;margin:0 auto;transition:1s all ease;width:30%;}
button:hover{box-shadow:none}
button:active{box-shadow:inset 0 0 20px #152525}
.fondo{margin-top:1em}
.horario{text-align:center;margin-top:3em}
.tweet{text-align:center}
