fondo = #DCDDD8
section = #354B5E
a
	text-decoration none
body
	background-color fondo
	font-size 16px
	font-family 'Source Code Pro'
	margin 0
	padding 0
h1
h2
	text-align center
	margin 0
input
	vertical-align middle
input[type=checkbox]
	width 100px
	height 120px
section
	background-color section
	border-radius 10px
	margin 0 auto
	width 820px
select
	background: #F3F3F3;
	border 1px solid #C1C1C1
	border-radius 0
	color #585757
	font-size 1.3em
	font-size 13px
	margin-top 1.5em
	height 30px
	line-height 100%;
	-webkit-appearance none
button
	background fondo
	border none
	box-shadow 0px 0px 20px #00ffff
	display block
	font-size 1.3em
	height 50%
	margin 0 auto
	transition 1s all ease
	width 30%
	&:hover
		box-shadow none
.cursos
	div
		width 820px
		height 131px
	.status
		color #FF5959
	.tweet
		text-align center
		position fixed
	.info
		display inline-block
		p
			font-size 2em
			margin-left 4em
	.imagen
		display inline-block
.fondo
	margin-top 1em
.horario
	text-align center
	margin-top 3em
.diseño
	background url('../images/DiseñoWeb.jpg')
	background-size 300px 131px
	background-repeat no-repeat
	background-position right center
.frontend
	background url('../images/frontend.jpg')
	background-size 300px 131px
	background-repeat no-repeat
	background-position right center
.backend
	background url("../images/backend.jpg")
	background-size 300px 131px
	background-repeat no-repeat
	background-position right center
.laravel
	background url("../images/laravel.jpg")
	background-position right center
	background-repeat no-repeat
	background-size 300px 131px
.marketing
	background url('../images/marketing.jpg')
	background-size 300px 131px
	background-repeat no-repeat
	background-position right center
.ios
	background url('../images/ios.png')
	background-size 300px 131px
	background-repeat no-repeat
	background-position right center
.android
	background url('../images/android.png')
	background-size 300px 131px
	background-repeat no-repeat
	background-position right center
.ux
	background url('../images/user.png')
	background-size 300px 131px
	background-repeat no-repeat
	background-position right center